<div class="login-modal-wrapper">
   <div class="component-wrapper" id="component-loginform-login-form-/login">
      <div id="authentication-panel" class="login-form">
         <p>Inicia sesión en Wattpad</p>
         <div class="panel-body">
            <div class="signin-buttons"><button class="btn btn-facebook btn-block"><span class="fa fa-facebook-official fa-wp-neutral-5" aria-hidden="true" style="font-size: 24px;"></span><span><span class="auth-btn">Iniciar sesión con Facebook</span></span></button><button class="btn btn-google btn-block"><img src="/img//shared/google_login_color.png" alt="Google Login" class="google-login-logo" width="24" aria-hidden="true"><span><span class="auth-btn">Iniciar sesión con Google</span></span></button></div>
            <span class="hr-with-text">
               <div class="horizontal-line"></div>
               <span class="or"> OR </span>
               <div class="horizontal-line"></div>
            </span>
            <button class="btn-block btn-primary">Iniciar sesión</button>
            <div class="password-forgot"><a href="/forgot?nextUrl=%2Fuser%2FKibumy32">¿Has olvidado tu contraseña?</a></div>
         </div>
         <footer class="signup-link"><span>¿Aún no tienes una cuenta? <button>Registrarse</button></span></footer>
      </div>
   </div>
</div>